// Footer Styles
.footer {
    background-color: #404040;
    color: #ffffff;
    padding: 3rem 0 2rem;

    a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            color: $light;
            text-decoration: underline;
        }
    }

    .footer-heading {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }

    .centerdiv {
        text-align: center;

        img {
            margin-bottom: 1.5rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }
}