---
title: "Guides (Springshare)"
---

{% include "meta/document-start.html" %}
{% include "header.html" %}

{% include "breadcrumb.html" %}

<main class="container-md py-4 mb-5">
  <div class="col-lg-10 mx-auto">
    <h1>Guides (Springshare)</h1>
    <p>Mockups for LibGuides display and layout alternatives.</p>
    <ul>
    {% for p in collections.all | sort(false, false, 'data.title') %}
      {% if page.url in p.url and not (p | isIndexPage) %}
      <li><a href="{{ p.url | url }}">{{ p.data.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</main>

{% include "footer.html" %}
