<footer id="footer" role="contentinfo" class="footer">
  <div class="container-fluid">
    <div class="row">
      
      <!-- Contact Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer">
        <h2 class="footer-heading" id="contact_label">Contact</h2>
        <ul aria-labelledby="contact_label">
          <li><a href="/research/help/ask-librarian/ask-contact/">Contact Us</a></li>
          <li><a href="/about/directory/?view=department">Library Departments</a></li>
          <li><a href="/about/directory/?view=staff">Staff Directory</a></li>
          <li><a href="https://chicagobooth.az1.qualtrics.com/jfe/form/SV_0Ul7ULLhiDnN90W?context_url=https%3A%2F%2Fwww.lib.uchicago.edu%2F&button=footer">Feedback</a></li>
        </ul>
      </div>

      <!-- Information Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer">
        <h2 class="footer-heading" id="information_for_label">Information for</h2>
        <ul aria-labelledby="information_for_label">
          <li><a href="/research/help/infofor/accessibility/">Patrons with Disabilities</a></li>
        </ul>

        <h2 class="footer-heading" id="policies_label">Policies</h2>
        <ul aria-labelledby="policies_label">
          <li><a href="/about/thelibrary/policies/">Library Policies</a></li>
          <li><a href="/about/thelibrary/policies/privacy/">Privacy Statement</a></li>
          <li><a href="https://accessibility.uchicago.edu/">University Accessibility</a></li>
        </ul>
      </div>

      <!-- Address Column (order-first on md+) -->
      <div class="col-12 col-md-12 col-lg-4 col-footer order-lg-3 order-md-1">
        <div class="centerdiv">
          <a href="//www.uchicago.edu/">
            <img alt="The University of Chicago" src="https://www.lib.uchicago.edu/web-resources/img/white-logo.png" width="150">
          </a>
          <p>
            <span>The University of Chicago Library</span><br>
            <span>1100 E. 57th St., Chicago, IL 60637</span>
          </p>
          <small>
            © <span>The University of Chicago</span><br>
            <span class="staff-login"><a href="/admin">Staff Login</a></span>
          </small>
        </div>
      </div>

      <!-- Libraries Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer order-lg-4">
        <h2 class="footer-heading" id="library_list_label">Libraries</h2>
        <ul aria-labelledby="library_list_label">
          <li><a href="/crerar/">Crerar</a></li>
          <li><a href="/law/">D'Angelo Law</a></li>
          <li><a href="/eck/">Eckhart</a></li>
          <li><a href="/mansueto/">Mansueto</a></li>
          <li><a href="/spaces/joseph-regenstein-library/">Regenstein</a></li>
          <li><a href="/scrc/">Special Collections</a></li>
          <li><a href="/swl/">Social Work</a></li>
        </ul>
      </div>

      <!-- Social Media Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer order-lg-5">
        <h2 class="footer-heading" id="social_media_label">Library Social Media</h2>
        <ul aria-labelledby="social_media_label">
          <li><a href="http://www.facebook.com/uchicagolibrary"><i class="fa-brands fa-facebook" aria-hidden="true"></i> Facebook</a></li>
          <li><a href="https://twitter.com/UChicagoLibrary"><i class="fa-brands fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/uchicagolibrary/"><i class="fa-brands fa-instagram" aria-hidden="true"></i> Instagram</a></li>
          <li><a href="http://news.lib.uchicago.edu/"><i class="fa-solid fa-rss" aria-hidden="true"></i> Library News</a></li>
          <li><a href="https://www.youtube.com/user/uchicagolibrary"><i class="fa-brands fa-youtube" aria-hidden="true"></i> YouTube</a></li>
          <li><a href="/about/news-events/social-media/"><i class="fa-solid fa-clone" aria-hidden="true"></i> More Library Accounts...</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
