// Primary Brand Colors
$ucl-maroon: #800000;
$ucl-greystone-lighter: #f7f7f7;
$ucl-greystone-light: #D9D9D9;
$ucl-greystone: #A6A6A6;
$ucl-greystone-dark: #737373;
$ucl-greystone-darker: #58595B;
$ucl-greystone-darkest: #404040;

// Secondary Brand Colors - Goldenrod Family
$ucl-goldenrod-light: #F3D03E;
$ucl-goldenrod: #EAAA00;
$ucl-goldenrod-dark: #CC8A00;

// Secondary Brand Colors - Terracotta Family
$ucl-terracotta-light: #ECA154;
$ucl-terracotta: #DE7C00;
$ucl-terracotta-dark: #A9431E;

// Secondary Brand Colors - Ivy Family
$ucl-ivy-light: #A9C47F;
$ucl-ivy: #789D4A;
$ucl-ivy-dark: #13301C;

// Secondary Brand Colors - Forest Family
$ucl-forest-light: #9CAF88;
$ucl-forest: #275D38;
$ucl-forest-dark: #284734;

// Secondary Brand Colors - Lake Family
$ucl-lake-light: #3EB1C8;
$ucl-lake: #007396;
$ucl-lake-dark: #002A3A;

// Secondary Brand Colors - Violet Family
$ucl-violet-light: #86647A;
$ucl-violet: #59315F;
$ucl-violet-dark: #41273B;

// Secondary Brand Colors - Brick Family
$ucl-brick-light: #B46A55;
$ucl-brick: #A4343A;
$ucl-brick-dark: #643335;

// Bootstrap Semantic Colors - Mapped to Brand Colors
$primary: $ucl-maroon; // Maroon
$secondary: $ucl-greystone-dark; // Dark Greystone
$success: $ucl-ivy; // Ivy
$info: $ucl-lake; // Lake
$warning: $ucl-goldenrod; // Goldenrod
$danger: #dc3545; // Bootstrap default
$light: $ucl-greystone-light; // Light Greystone
$dark: $ucl-greystone-darkest; // Black

// Typography
$font-family-sans-serif: "UChicago Sans Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Body
$body-bg: #ffffff;
$body-color: $dark;


// Breadcrumb
$breadcrumb-font-size: 0.75rem;
$breadcrumb-padding-y: 0.5rem;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider-color: $secondary;
$breadcrumb-active-color: $secondary;

// Accordion
$accordion-button-bg: $ucl-greystone-light;
$accordion-button-active-bg: $ucl-greystone;
$accordion-button-color: $body-color;
$accordion-button-active-color: $body-color;
$accordion-button-focus-box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);