// Import Bootstrap variable overrides first
@import "variables";

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import base styles (after Bootstrap)
@import "base/global";
@import "base/layout/layout";

// Import component styles
@import "components/header";
@import "components/footer";