// Import Bootstrap variable overrides first
@import "variables";

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import custom component styles
@import "header";
@import "footer";
@import "layout";
