<script src="https://answers.lib.uchicago.edu/load_chat.php?hash=ca4897bb588579f664ecc4543a0d8e56"
        async=""></script>

<div id="s-lg-az-lc-widget-div">
    <div class="margin-bottom-xlg">
        <div id="libchat_ca4897bb588579f664ecc4543a0d8e56"
             role="region"
             aria-label="Chat Widget">
            <div class="lci_chat_load">
                <iframe id="iframe_ca4897bb588579f664ecc4543a0d8e56"
                        name="iframe_ca4897bb588579f664ecc4543a0d8e56"
                        src="https://answers.lib.uchicago.edu/chat/widget/ca4897bb588579f664ecc4543a0d8e56?referer=http%3A%2F%2Flocalhost%3A8080%2Fbrainstorm-mockups%2Fdesign_mockups%2Fdatabase-finder-local%2F&amp;referer_title=Database%20Finder%20%E2%80%94%20local&amp;auth_id=0"
                        title="Chat Widget"
                        scrolling="no">Content is loading...</iframe>
            </div>
        </div>
    </div>
</div>
