---
title: "Header Minimal"
---

{% include "meta/document-start.html" %}
{% include "mockups/header-minimal.html" %}

{% include "breadcrumb.html" %}

<main class="container-md py-4 mb-5">
  <h1>Header Minimal</h1>
  <p>This mockup shows the compact header variant that always appears as a single collapsed bar with a primary background and white logo. Using the latest inf arc.</p>
  <p>The porobable potential use for this is in some digital collection pages, where navigation is removed from the main website but we want to keep the user located in our web envrionment.</p>

  {% set current = "minimal" %}
  {% include "meta/header-mockups-page-nav.html" %}
</main>

{% include "footer.html" %}
