---
title: "Header Current New"
---

{% include "meta/document-start.html" %}
{% include "mockups/header-current-new.html" %}

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb" class="container-md">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ '/design_mockups/' | url }}">Mockups</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>

<main class="container-md py-4 mb-5">
  <h1>Header Current New</h1>
  <p>This mockup shows a header using the old information architecture but completely redesigned to use BS5.</p>
</main>

{% include "footer.html" %}
