---
title: "Header Customization"
---

{% include "meta/document-start.html" %}
{% include "header-customization.html" %}

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb" class="container-md">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ '/design_mockups/' | url }}">Mockups</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>

<main class="container-md py-4 mb-5">
  <h1>Header Customization</h1>
  <p>This mockup shows the header variant with the newest proposition of inf arq, and a "For you" dropdown selector. </p>
</main>

{% include "footer.html" %}
