---
title: "Profiles"
breadcrumbParent: "Pages"
breadcrumbUrl: "/pages/"
breadcrumbItems:
- label: "LibApps"
url: "/pages/libapps/"
<!-- is_guide: true -->
---

{% include "libapps/document-start.html" %}
{# dump of HTML extracted from the browser
{% include "mockups/header-current-new.html" %}
{% include "libapps/breadcrumbs.html" %}
{% include "libapps/footer.html" %}
#}

<body class="s-lib-public-body">
    <a id="s-lg-public-skiplink" class="alert-info" href="#s-lib-public-main">Skip to Main Content</a>
    <!-- BEGIN: Page Header -->
    
    {% include "mockups/header-current-new.html" %}
    <!-- END: Page Header -->
    <!-- BEGIN: Content Header -->
    <div id="s-lib-public-header" class="s-lib-header container s-lib-side-borders">
        <div id="s-lib-bc">
            {% include "libapps/breadcrumbs.html" %}
        </div>
        <h1 id="s-lib-public-header-title">Profiles</h1>
        <div id="s-lib-public-header-desc">&nbsp;</div>
    </div>
    <!-- END: Content Header -->
    <!-- BEGIN: Nav Bar -->
    <div id="s-lib-public-nav" class="container s-lib-side-borders">

    </div>
    <!-- END: Nav Bar -->
    <!-- BEGIN: content -->
    <div id="s-lib-public-main" class="s-lib-main container s-lib-side-borders">
        <div class="clearfix">
            <div id="s-lg-profile-nav">
                <ul class="list-unstyled mb-0">
                    <li>
                        <ul class="nav nav-pills mb-0">
                            <li id="s-lg-profile-count-btn" class="nav-item">
                                <span id="s-lg-profile-count" class="badge bg-secondary me-1">62</span>
                                PROFILES
                            </li>
                            <li id="s-lg-profile-name-btn" class="nav-item s-lg-index-nav-btn">
                                <a href="#" class="nav-link active" onclick="loadProfileList(0);">
                                    BY NAME
                                </a>
                            </li>
                            <li id="s-lg-profile-subject-btn" class="nav-item s-lg-index-nav-btn">
                                <a href="#" class="nav-link" onclick="handleSubjectBtnClick();">
                                    BY SUBJECT
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <section>
            <div id="s-lg-profile-cols" class="row">
                <div id="col1" class="col-md-9 center">
                    <div id="s-lg-profile-subjects" style="display:none; margin-bottom:20px;" class="pad-right-sm">
                        <div class="row">
                            <div class="col-md-10" style="display:inline-block;">
                                <label for="sel-guide-drop" class="visually-hidden">Please select a subject...</label>
                                <select name="sel-guide-drop" id="sel-guide-drop" class="form-select form-select-sm w-100" aria-controls="s-lg-profile-results">
                                    <option selected="" value="">Please select a subject...</option>
                                    <option value="66496">African Studies</option>
                                    <option value="66497">African-American Studies</option>
                                    <option value="66498">Ancient Near East</option>
                                    <option value="66540">Anthropology</option>
                                    <option value="66510">Art, Architecture, and Photography</option>
                                    <option value="11613">Arts</option>
                                    <option value="66533">Astronomy &amp; Astrophysics</option>
                                    <option value="11609">Biological Sciences</option>
                                    <option value="66528">Biomedical Informatics</option>
                                    <option value="60127">Biomedical Sciences</option>
                                    <option value="11612">Business</option>
                                    <option value="66534">Chemistry</option>
                                    <option value="66499">Chinese Studies</option>
                                    <option value="66511">Cinema and Media Studies</option>
                                    <option value="66514">Classics</option>
                                    <option value="66535">Computer Science</option>
                                    <option value="66882">Economics</option>
                                    <option value="66546">Education</option>
                                    <option value="66520">English Literature</option>
                                    <option value="66529">Environmental Science</option>
                                    <option value="157841">Foreign Law</option>
                                    <option value="66521">French Literature</option>
                                    <option value="66516">General Humanities</option>
                                    <option value="66550">Geography</option>
                                    <option value="66536">Geophysical Sciences</option>
                                    <option value="66515">History</option>
                                    <option value="66526">History of Medicine</option>
                                    <option value="66530">History of Science</option>
                                    <option value="66552">Human Development</option>
                                    <option value="11600">Humanities</option>
                                    <option value="157842">International Law</option>
                                    <option value="66523">Italian Literature</option>
                                    <option value="66501">Japanese Studies</option>
                                    <option value="73676">Jewish Studies</option>
                                    <option value="66502">Korean Studies</option>
                                    <option value="66503">Latin American Studies</option>
                                    <option value="11602">Law</option>
                                    <option value="84151">Library Science</option>
                                    <option value="66519">Linguistics</option>
                                    <option value="66538">Mathematics</option>
                                    <option value="11611">Medicine</option>
                                    <option value="66505">Medieval and Byzantine Studies</option>
                                    <option value="66506">Middle East</option>
                                    <option value="66531">Molecular &amp; Cell Biology</option>
                                    <option value="140855">Molecular Engineering</option>
                                    <option value="66512">Music</option>
                                    <option value="66527">Nursing</option>
                                    <option value="66532">Organismal Biology</option>
                                    <option value="66518">Philosophy</option>
                                    <option value="60128">Physical Sciences</option>
                                    <option value="66537">Physics</option>
                                    <option value="66555">Psychology</option>
                                    <option value="66517">Religion</option>
                                    <option value="66524">Scandinavian Literature</option>
                                    <option value="66507">Slavic/ Eastern Europe/ Eurasia</option>
                                    <option value="11614">Social Sciences</option>
                                    <option value="60129">Social Work</option>
                                    <option value="66557">Sociology</option>
                                    <option value="66508">Southern Asia</option>
                                    <option value="66525">Spanish, Portuguese &amp; Catalan Literature</option>
                                    <option value="11606">Special Collections</option>
                                    <option value="66539">Statistics</option>
                                </select>
                            </div>

                            <div class="col-md-2 pad-left-none" style="display:inline-block;">
                                <button type="button" class="btn btn-primary text-nowrap btn-sm" onclick="filterBySubject(jQuery('#sel-guide-drop').val());">
                                    Go
                                </button>
                            </div>
                        </div>

                        <div style="clear:both;"></div>

                    </div>
                    <div id="s-lg-profile-content">
                        <div id="s-lg-profile-results">
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=eae9a3da-9f50-11ee-8db8-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Angel Caranna</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=e8a53269-f0fe-11ed-8db8-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Angela Solis</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=59307f68-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54851/profiles/46793/profile_cropped.jpg" alt="A middle aged white woman stands in front of blossoming Cherry trees. She is wearing a baseball cap, sunglasses, and a blue hoodie."></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Anne Knafl</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5aff38a6-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/137463/profiles/131288/Scotese_Ariel_cropped.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Ariel Scotese</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5d8a8b84-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/221692/profiles/220415/Ashley_Gosselar_02_web.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Ashley Gosselar</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=b0748645-d79b-11f0-b702-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/462451/profiles/535993/chinatown_mural.jpg" alt="Pic of a public mural. blue and gold bamboo plantrs on a white background"></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Ask a Humanities Librarian</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=593063e7-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54751/profiles/46689/UChicago_Avatar_Shield_RGB.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Ask a Librarian</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=f8da506d-d2a3-11ef-ad2f-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/424832/profiles/422509/AudreyChun_profile_crop.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Audrey Chun</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=ad2a95e7-10c2-11f0-b9a8-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/433164/profiles/435743/mecrop2.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Brendan Whyte</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5c2aba8d-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/176164/profiles/172457/bridget__1_.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Bridget Madden</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=59304b0f-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54729/profiles/46660/duo.png" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Business &amp; Economics Librarians</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=19d63b83-db6c-11f0-b702-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/462827/profiles/537051/20241011_173947.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Caelin Ross</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5923202e-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/9107/profiles/44314/CMMProfilePicSm.JPG" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Catherine Mardikes</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5a50f9f0-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/108151/profiles/99499/Catherine_Uecker_01.c5add3fa.fill-200x200.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Catherine Uecker</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5c2ff15d-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/176777/profiles/173102/Headshot_2023.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Cecilia Smith</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=59308611-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54859/profiles/46801/Colleen_Mullarkey_03.e8bbc72e.fill-100x100.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Colleen Mullarkey</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=59308c41-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54862/profiles/46805/ConnieFleischer.width-200.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Connie Fleischer</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=58b0f245-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/10604/profiles/7825/UChicago_Avatar_D_Angelo_MaroonPhoenix_RGB.png" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">D'Angelo Law Librarians</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5d4bc016-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/213487/profiles/212006/Woken-6110-adj.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">David Woken</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=593045bb-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54719/profiles/46650/Deb_Werner_2016.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Deb Werner</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=e760cea2-b95e-11ee-9a47-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Elias Hubbard</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5c49d607-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/180608/profiles/177253/Elizabeth_Foster_3.width-200.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Elizabeth Foster</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5d309f5e-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Elizabeth Frengel</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=9a176f24-5073-11f0-b9a8-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/439219/profiles/443193/O_Brock_photo.jpeg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Emily O'Brock</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=50c4c2ad-baa5-11f0-b9a8-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Emily Osborn</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=b05b74d5-634a-11f0-b9a8-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Emily Schartz</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5934ed97-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/55898/profiles/47822/Treptow_Emily2014.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Emily Treptow</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=50c53b90-baa5-11f0-b9a8-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Gina Yu</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=590586d4-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/45845/profiles/38782/copy-Greg_Fleming_01.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Greg Fleming</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5d6e5716-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/217616/profiles/216209/Holiday.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Holiday Vega</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=bf4a598c-444a-11ef-ad2f-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/404681/profiles/411416/UChicago_Library.jpg" alt="Jamie Gentry profile picture"></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Jamie Gentry</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=59231d0e-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/9104/profiles/44313/Jenny_Hart_04.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Jenny Hart</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=1cca2c03-2943-11f1-ab03-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Justine Withers</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5b1c764d-68be-11f1-ab03-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Kaatje Weiland</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5ddd6b00-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/230483/profiles/230057/Kaitlyn_Van_Kampen_2.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Kaitlyn Van Kampen</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=83c6baa5-0936-11ee-8db8-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/362657/profiles/370783/IMG_0160-top_choice.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Keith Klein</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=74c42c7c-ff24-11ed-8db8-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/361658/profiles/369701/vallee.width-200.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Kirsten Markusic</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=4d7c8298-9062-11ee-8db8-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/382187/profiles/391326/KJL23.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Kristy Lueshen</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=593070a7-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54784/profiles/46723/Laura2.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Laura Ring</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=3d984048-55a0-11ef-ad2f-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/406800/profiles/412443/Profile_Pic.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Lisa Chinn</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=2f617d76-9a46-11f0-b9a8-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/452166/profiles/478695/Screenshot_2026-06-23_at_2.57.42 PM.png" alt="Lois Wong, AI Librarian"></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Lois Wong</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5d04c4b9-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/204573/profiles/202601/LyoLawSchool5.jpeg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Lyonette Louis-Jacques</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=16329395-fe26-11f0-ab03-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/466838/profiles/548191/photo_2026-02-04_13-33-34.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Mar Tran</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=59306939-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54753/profiles/46691/Marlis_Saleh_04.JPG" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Marlis J. Saleh</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=aeae0e9f-af40-11ee-9a83-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Maureen Moran</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5dbecd72-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/227558/profiles/226938/Headshot2023_2MB_cropped.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Megan Browndorf</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=98f7b66a-92e2-11ef-ad2f-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/418308/profiles/418320/IMG_0044.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Meredith Gozo</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=59024bbd-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/41676/profiles/37693/Nancy042z.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Nancy Spiegel</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=70b9135e-10d6-11f1-ab03-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Rachael Kotarski</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5d4166ad-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/212079/profiles/210599/Flore_Rebecca_Headshot.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Rebecca Flore</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5907db9e-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/46729/profiles/39661/RebeccaStarkey.jpeg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Rebecca Starkey</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=28ce7e1e-61f6-11ee-8db8-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/376371/profiles/385155/headshot.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Rob Shepard</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=593073dd-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54796/profiles/46737/crerar.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Science Librarians</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5b5ceb2a-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/149127/profiles/143807/Scott_Profile_Pic_No_Background.jpeg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Scott Vanderlin</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=a1d2e497-61bd-11f0-b9a8-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Seunghyeon Paek</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5d04ad92-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/204564/profiles/202590/Lewis_Sheri_9.2022.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Sheri Lewis</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=997bdce5-3e06-11ef-ad2f-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/403938/profiles/411004/IMG_2069.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Shuo Liang</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=5930835c-7cdb-11ed-9922-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/54858/profiles/46800/scrc_front_door.original.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Special Collections Librarians</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=e9d52726-71e4-11ee-8db8-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/378749/profiles/387631/IMG_3435.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Taylor Faires</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=74092044-7ce2-11ef-ad2f-0a92c88187d1">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/415282/profiles/416483/TAE_Librarians.png" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Teaching and Academic Engagement Librarians</div>
                                </a></div>
                            <div class="s-lib-featured-profile-spacer clearfix"></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=36142176-91d4-11ed-b6b9-0ad758b798c3">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Yao Chen</div>
                                </a></div>
                            <div class="s-lib-featured-profile-container"><a href="https://guides.lib.uchicago.edu/prf.php?id=b25f7d41-81f8-11f1-ab03-127d3674933b">
                                    <div class="s-lib-featured-profile-image"><img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/apps/common/images/profile.jpg" alt=""></div>
                                    <div class="s-lib-profile-div s-lib-featured-profile-name">Yeji Kim</div>
                                </a></div>
                        </div>
                    </div>
                    <div id="s-lg-profile-guides-div" style="display: none;"></div>
                </div>
                <div id="col2" class="col-md-3 center">
                    <div id="s-lg-profile-search-div">
                        <div class="margin-bottom-xlg">
                            <div class="s-lib-public-side-header">
                                <h2 class="pad-bottom-sm">Search</h2>
                            </div>
                            <div class="txt pad-top-sm">
                                <div class="margin-bottom-med">Search the full text of this site. Results will link to pages containing your terms; results from subject page searches are automatically filtered by that subject.</div>
                            </div>
                            <div class="input-append">
                                <form role="search" method="GET" action="/srch.php"><input type="hidden" name="bs5" value="1"><label class="control-label sr-only" for="s-lg-guide-search">Guide Search Terms</label><input class="form-control" name="q" id="s-lg-guide-search" type="text" placeholder="Search Library Guides" maxlength="260"><button class="btn btn-info text-white" type="submit" style="margin-top:2px;" role="button">Search</button></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END: content -->
    <!-- BEGIN: Page Footer -->
    <!-- END: Page Footer -->
    <div id="s-lib-alert" title="">
        <div id="s-lib-alert-content"></div>
    </div>
    <div id="s-lib-popover-title" class="hide">
        <span class="text-info"><strong>title</strong></span>
        <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">×</button>
    </div>
    <div id="s-lib-popover-content" class="hide"><i class="fa fa-refresh fa-spin"></i> Loading...
        <button class="btn btn-default btn-sm popclose" type="button">Close</button>
    </div>
    <div id="s-lib-scroll-top" title="Back to Top">
        <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
        </span>
    </div>
    {% include "libapps/footer.html" %}
</body>