<!-- Taken from Evaluating Resources and Misinformation Guide -->
<div id="s-lg-box-wrapper-33849954" class="s-lg-box-wrapper-33849954">
    <div id="s-lg-box-28787212-container" class="s-lib-box-container">
        <div id="s-lg-box-28787212" class="s-lib-box s-lib-box-std">
            <h2 class="s-lib-box-title"> Clinical Librarian </h2>
            <div id="s-lg-box-collapse-28787212">
                <div class="s-lib-box-content"> <!-- bs5/box/profile_box_content.twig -->
                    <div id="s-lib-profile-230057" class="s-lib-profile-container"> <a href="//guides.lib.uchicago.edu/prf.php?id=5ddd6b00-7cdb-11ed-9922-0ad758b798c3">
                            <div id="s-lib-profile-image-230057" class="s-lib-profile-div s-lib-profile-center s-lib-profile-image"> <img loading="lazy" src="//d2jv02qf7xgjwx.cloudfront.net/accounts/230483/profiles/230057/Kaitlyn_Van_Kampen_2.jpg" alt=""> </div>
                            <div id="s-lib-profile-name-230057" class="s-lib-profile-div s-lib-profile-center s-lib-profile-name" style="margin-bottom:0 !important;"> Kaitlyn Van Kampen </div>
                        </a>
                        <div id="s-lib-profile-pronouns-230057" class="s-lib-profile-div s-lib-profile-center s-lib-profile-pronouns"> She/Her/Hers </div>
                        <div id="s-lib-profile-email-230057" class="s-lib-profile-div s-lib-profile-center s-lib-profile-email"> <a title="kvankampen@uchicago.edu" href="mailto:kvankampen@uchicago.edu" class="label label-info btn text-white fw-bold">Send Email</a> </div>
                        <div id="s-lib-profile-widget-la-230057" class="s-lib-profile-div s-lib-profile-widget-la">
                            <div class="s-lib-profile-widget"></div>
                        </div>
                        <div id="s-lib-profile-widget-lc-230057" class="s-lib-profile-div s-lib-profile-widget-lc">
                            <div class="s-lib-profile-widget"> <!-- Place the following link anywhere in your page. Make sure the id "mysched_63613" matches with the above code: jQuery("#mysched_63613")  //--> <button id="mysched_63613" href="#">Schedule Appointment</button> <!-- Below is optional button styling  //-->
                                <style>
                                    #mysched_63613 {
                                        background: #FFFFFF;
                                        border: 1px solid #CCCCCC;
                                        border-radius: 4px;
                                        color: #333333;
                                        font: 14px Arial, Helvetica, Verdana;
                                        padding: 8px 20px;
                                        cursor: pointer;
                                    }

                                    #mysched_63613:hover {
                                        opacity: 0.9;
                                    }
                                </style>
                            </div>
                        </div>
                        <div id="s-lib-profile-widget-other-230057" class="s-lib-profile-div s-lib-profile-widget-other">
                            <div class="s-lib-profile-widget"></div>
                        </div>
                        <div id="s-lib-profile-contact-230057" class="s-lib-profile-div s-lib-profile-contact"> <strong>Contact:</strong>
                            <div>Clinical Librarian<br> Joseph Regenstein Library, Room 263</div>
                            <div>773.702.4557</div>
                        </div>
                        <div id="s-lib-profile-social-230057" class="s-lib-profile-div s-lib-profile-social"> </div>
                        <div id="s-lib-profile-subjects-230057" class="s-lib-profile-div s-lib-profile-subjects"> <strong>Subjects:</strong> <a href="https://guides.lib.uchicago.edu/sb.php?subject_id=60127" aria-label="Biomedical Sciences Subject">Biomedical Sciences</a>, <a href="https://guides.lib.uchicago.edu/sb.php?subject_id=11611" aria-label="Medicine Subject">Medicine</a> </div>
                    </div> <!-- !bs5/box/profile_box_content.twig -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Taken from Fulbright and Fellowship Resources Guide -->
<div class="s-lg-col-boxes">
    <div id="s-lg-box-wrapper-30444218" class="s-lg-box-wrapper-30444218">
        <div id="s-lg-box-25910015-container" class="s-lib-box-container">
            <div id="s-lg-box-25910015" class="s-lib-box s-lib-box-std">
                <h2 class="s-lib-box-title"> The Logistics of Fieldwork </h2>
                <div id="s-lg-box-collapse-25910015">
                    <div class="s-lib-box-content">
                        <div id="s-lg-content-66353932" class="  clearfix">
                            <p><strong><em>Preparing for Overseas Research</em></strong><br> In a three part webinar series, UChicago librarians&nbsp;<a href="https://www.lib.uchicago.edu/about/directory/staff/laura-ring/" rel="noreferrer noopener" target="_blank">Laura Ring</a>&nbsp;and&nbsp;<a href="https://www.lib.uchicago.edu/about/directory/staff/david-woken/" rel="noreferrer noopener" target="_blank">David Woken</a>&nbsp;provide strategies for locating and using research collections (libraries, archives, museums) abroad, as well as how to anticipate and prepare for the pragmatic challenges of research while overseas.</p>
                            <ul>
                                <li><a href="https://uchicago.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=8c09a8fb-6f7e-4ec9-b991-acbe01408327" rel="noreferrer noopener" target="_blank">Introduction (1:18)&nbsp;(Links to an external site.)</a></li>
                                <li><a href="https://uchicago.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=6d1d529f-c463-4f27-9bd1-acbe01459d54" rel="noreferrer noopener" target="_blank">Finding Collections Abroad (18:01)&nbsp;(Links to an external site.)</a></li>
                                <li><a href="https://uchicago.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=88eaeb2b-1587-4413-a943-acc60159efad" rel="noreferrer noopener" target="_blank">Using Collections Abroad (16:22)&nbsp;(Links to an external site.)</a></li>
                                <li><a href="https://uchicago.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=ba0176f6-1bbb-4222-bef5-acbf011cac47" rel="noreferrer noopener" target="_blank">Pragmatic Challenges of Fieldwork (13:23)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>