<!-- Taken from Evaluating Resources and Misinformation Guide -->
<div id="s-lg-box-wrapper-33850761" class="s-lg-box-wrapper-33850761">
    <div id="s-lg-box-28787924-container" class="s-lib-box-container">
        <div id="s-lg-box-28787924" class="s-lib-box s-lib-box-std">
            <h2 class="s-lib-box-title"> Evaluating Resources </h2>
            <div id="s-lg-box-collapse-28787924">
                <div class="s-lib-box-content">
                    <div id="s-lg-content-66943573" class="  clearfix">
                        <p>Evaluating sources in both your academic and personal lives is very practical skill.&nbsp;With practice, you can learn to critically evaluate every source and website you come across quickly and efficiently. There are many different methods that can be used to help evaluate information, and some will apply better than others, depending on the information.</p>
                        <p><strong>Read closely. Question sources that contain:</strong></p>
                        <ul>
                            <li>Claims that cannot be verified through other means</li>
                            <li>Biased or inflammatory language</li>
                            <li>Dead or self-referential links</li>
                            <li>No information about the author, especially if the corporate author is unknown or untrustworthy</li>
                        </ul>
                    </div>
                    <div id="s-lg-content-66943729" class="  clearfix">
                        <p><img alt="https://repository.ifla.org/bitstream/123456789/167/1/How_to_Spot_Fake_News-Full-resolution.jpg" class="shrinkToFit" loading="lazy" src="https://repository.ifla.org/bitstreams/cb158020-0ace-4526-828f-12c32698af1c/download" style="width: 965px; height: 1000px;"><a href="https://repository.ifla.org/items/c5dbfa34-7d00-47ac-8057-0183a5056438">From: International Federation of Library Associations and Institutions (IFLA)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Taken from Fulbright and Fellowship Resources Guide -->
<div class="s-lg-col-boxes">
    <div id="s-lg-box-wrapper-26883964" class="s-lg-box-wrapper-26883964">
        <div id="s-lg-box-8576357-container" class="s-lib-box-container">
            <div id="s-lg-box-8576357" class="s-lib-box s-lib-box-std">
                <h2 class="s-lib-box-title"> Before You Visit </h2>
                <div id="s-lg-box-collapse-8576357">
                    <div class="s-lib-box-content">
                        <div id="s-lg-content-17290468" class="  clearfix">
                            <div id="s-lg-box-collapse-8576357">
                                <div class="s-lib-box-content">
                                    <div class="clearfix" id="s-lg-content-17290468">
                                        <p><strong>Before you visit any library, museum, or research center, you should first:</strong></p>
                                        <ol start="1">
                                            <li>&nbsp;Check their website to see what their visitor policy is;<br> (Can you visit?&nbsp;When can you visit?&nbsp;Do you need an appointment?)<br> &nbsp;</li>
                                            <li>Check their&nbsp;collections (use their catalog) to see if they have what you need;<br> &nbsp;</li>
                                            <li>Check their policies on how you may engage with collections<br> (Are there limits to what you can view? Can you take photographs or make scans?&nbsp;Is there an access fee?)</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="s-lg-box-wrapper-26883970" class="s-lg-box-wrapper-26883970">
        <div id="s-lg-box-8576398-container" class="s-lib-box-container">
            <div id="s-lg-box-8576398" class="s-lib-box s-lib-box-std">
                <h2 class="s-lib-box-title"> Advice &amp; Tips For Your Visit </h2>
                <div id="s-lg-box-collapse-8576398">
                    <div class="s-lib-box-content">
                        <div id="s-lg-content-17290567" class="  clearfix">
                            <div id="s-lg-box-collapse-8576398">
                                <div class="s-lib-box-content">
                                    <div class="clearfix" id="s-lg-content-17290567">
                                        <p>Research libraries can differ greatly around the world. Here are some things to consider:</p>
                                        <p><strong>Physical Space Access</strong></p>
                                        <ul>
                                            <li>Many academic libraries are&nbsp;decentralized, with specific libraries for departments or residential colleges;</li>
                                            <li>Many libraries have "closed stacks", meaning that you will need to request an item to be paged in order to view it;</li>
                                        </ul>
                                        <p><strong>Materials Access</strong></p>
                                        <ul>
                                            <li>Materials may be organized in different ways (e.g. different classification systems);</li>
                                            <li>Libraries may not have online catalogs or reference services;</li>
                                            <li>There may be fees for services or access;</li>
                                            <li>It is&nbsp;unlikely you will be able to check out materials;</li>
                                            <li>Many libraries do not allow wireless or computer access for visitors;&nbsp;</li>
                                            <li>Not every database to which a library subscribes will be available to visitors;</li>
                                            <li>Most materials will not be online (this is also true in the U.S.).</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="s-lg-box-wrapper-41859222" class="s-lg-box-wrapper-41859222">
        <div id="s-lg-box-8576365-container" class="s-lib-box-container">
            <div id="s-lg-box-8576365" class="s-lib-box s-lib-box-std">
                <h2 class="s-lib-box-title"> Things to Bring </h2>
                <div id="s-lg-box-collapse-8576365">
                    <div class="s-lib-box-content">
                        <div id="s-lg-content-17290475" class="  clearfix">
                            <h3><span style="font-size:16px;"><strong>Identification</strong></span></h3>
                            <ul>
                                <li>UChicago ID card;</li>
                                <li>“Government-sponsored” ID<br> <em>Passport, Driver’s License, etc.;</em> </li>
                                <li>Check the library's visitor guidelines to see if they require other forms of ID before you go.</li>
                            </ul>
                            <h3><span style="font-size:16px;"><strong>Proof of Need</strong></span></h3>
                            <p><strong>Before you visit, check the library's requirements for visiting. </strong>The following items are commonly requested:</p>
                            <ul>
                                <li><strong>A letter of affiliation.</strong> If another library requires a letter or other documentation from the University of Chicago Library, you may request such documentation from the <a href="https://www.lib.uchicago.edu/using/access-privileges/contact-ipo/">ID &amp; Privileges Office</a>;</li>
                                <li>A letter from the program coordinator, thesis advisor, or program sponsor (on University or organizational letterhead);</li>
                                <li><strong>A research statement or proposal.&nbsp;</strong>Some collections and libraries will require a&nbsp;prepared statement about your research that outlines your proposed project, the collections you intend to look at, and your intended timeline.&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="s-lg-box-wrapper-41867529" class="s-lg-box-wrapper-41867529">
        <div id="s-lg-box-35574219-container" class="s-lib-box-container">
            <div id="s-lg-box-35574219" class="s-lib-box s-lib-box-std">
                <h2 class="s-lib-box-title"> Recommended Reading </h2>
                <div id="s-lg-box-collapse-35574219">
                    <div class="s-lib-box-content">
                        <div class="">
                            <ul id="s-lg-link-list-86294214" class="s-lg-link-list s-lg-link-list-2">
                                <li class="">
                                    <div id="s-lg-content-83809017" class=""> <span> <a href="http://dissertationreviews.org/fresh-from-the-archives" target="_blank" onclick="return springSpace.springTrack.trackLink({link: this,_st_type_id: '2',_st_content_id: '83809017',_st_inc_return: this});"> Fresh From the Archives <i class="fa fa-fw fa-external-link " aria-hidden="true" title="This link opens in a new window"></i><span class="sr-only">This link opens in a new window</span> </a> </span>
                                        <div id="s-lg-link-desc-83809017" class="s-lg-link-desc"> A great website providing detailed tips to visiting archives around the world, including practical matters such as transport and computer access. </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <ul id="s-lg-link-list-86269562" class="s-lg-link-list s-lg-link-list-5">
                                <li class="">
                                    <div id="s-lg-content-83784438" class="s-lg-book clearfix">
                                        <div class="s-lg-book-props"> <a href="https://proxy-redirector.lib.uchicago.edu/login?url=http%3A%2F%2Fpi.lib.uchicago.edu%2F1001%2Fcat%2Fbib%2F7998361" target="_blank" onclick="return springSpace.springTrack.trackLink({link: this,_st_type_id: '3',_st_content_id: '83784438',_st_inc_return: this});"> <span id="s-lg-book-cover-83784438" class="s-lg-book-cover"> <img loading="lazy" alt="" src="//syndetics.com/index.aspx?isbn=9780415778336/LC.GIF&amp;client=springshare" class="float-start s-lg-book-cover-img-0"> </span> <span id="s-lg-book-title-83784438" class="s-lg-book-title"> Overseas Research II </span> <span id="s-lg-book-by-83784438" class="s-lg-book-by"> by </span> <span id="s-lg-book-author-83784438" class="s-lg-book-author"> Christopher B. Barrett; Jeffrey Cason </span> </a>
                                            <div class="s-lg-book-prop-isbn"> ISBN: 9780415778336 </div>
                                            <div class="s-lg-book-prop-pubdate"> Publication Date: 2010 </div>
                                            <div id="s-lg-book-desc-83784438" class="s-lg-book-desc"> Overseas Research II: A Practical Guide fills the reader in on the many crucial pieces of advice: how to prepare for the field, how and where to find funding for one's fieldwork, issues of personal safety and security, and myriad logistical and relational issues that often define one's research experience abroad. </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <div id="s-lg-content-83784511" class="s-lg-book clearfix">
                                        <div class="s-lg-book-props"> <a href="https://proxy-redirector.lib.uchicago.edu/login?url=http%3A%2F%2Fpi.lib.uchicago.edu%2F1001%2Fcat%2Fbib%2F11676115" target="_blank" onclick="return springSpace.springTrack.trackLink({link: this,_st_type_id: '3',_st_content_id: '83784511',_st_inc_return: this});"> <span id="s-lg-book-cover-83784511" class="s-lg-book-cover"> <img loading="lazy" alt="" src="//syndetics.com/index.aspx?isbn=9781626164376/LC.GIF&amp;client=springshare" class="float-start s-lg-book-cover-img-0"> </span> <span id="s-lg-book-title-83784511" class="s-lg-book-title"> The Field Researcher's Handbook </span> <span id="s-lg-book-by-83784511" class="s-lg-book-by"> by </span> <span id="s-lg-book-author-83784511" class="s-lg-book-author"> David J. Danelo </span> </a>
                                            <div class="s-lg-book-prop-isbn"> ISBN: 9781626164376 </div>
                                            <div class="s-lg-book-prop-pubdate"> Publication Date: 2017 </div>
                                            <div id="s-lg-book-desc-83784511" class="s-lg-book-desc"> This book introduces the skills that new researchers will need in the field, including anthropology, travel logistics planning, body language recognition, interview preparation, storytelling, network development, and situational awareness. Danelo also discusses ethical considerations and how to recognize personal biases. This handbook intended for researchers in a variety of academic disciplines. </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>