<div id="s-lg-box-wrapper-33850761" class="s-lg-box-wrapper-33850761">


    <div id="s-lg-box-28787924-container" class="s-lib-box-container">
        <div id="s-lg-box-28787924" class="s-lib-box s-lib-box-std">
            <h2 class="s-lib-box-title">
                Evaluating Resources
            </h2>
            <div id="s-lg-box-collapse-28787924">
                <div class="s-lib-box-content">
                    <div id="s-lg-content-66943573" class="  clearfix">
                        <p>Evaluating sources in both your academic and personal lives is very practical skill.&nbsp;With practice, you can learn to critically evaluate every source and website you come across quickly and efficiently. There are many different methods that can be used to help evaluate information, and some will apply better than others, depending on the information.</p>

                        <p><strong>Read closely. Question sources that contain:</strong></p>

                        <ul>
                            <li>Claims that cannot be verified through other means</li>
                            <li>Biased or inflammatory language</li>
                            <li>Dead or self-referential links</li>
                            <li>No information about the author, especially if the corporate author is unknown or untrustworthy</li>
                        </ul>


                    </div>
                    <div id="s-lg-content-66943729" class="  clearfix">
                        <p><img alt="https://repository.ifla.org/bitstream/123456789/167/1/How_to_Spot_Fake_News-Full-resolution.jpg" class="shrinkToFit" loading="lazy" src="https://repository.ifla.org/bitstreams/cb158020-0ace-4526-828f-12c32698af1c/download" style="width: 965px; height: 1000px;"><a href="https://repository.ifla.org/items/c5dbfa34-7d00-47ac-8057-0183a5056438">From: International Federation of Library Associations and Institutions (IFLA)</a></p>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>