<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | UCL DS Exploration</title>
    <link rel="icon" type="image/x-icon" href="https://www.lib.uchicago.edu/web-resources/img/favicon-m.ico">
    
    <!--  %%% LIBGUIDES STUFF  -->
    <link rel="stylesheet" href="https://static-assets-us.libguides.com/web/jquery/css/jquery-ui.min.css?2691" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://static-assets-us.libguides.com/web/css3.27.3/lg-public-bs5.min.css" />
    <script type="text/javascript" src="https://static-assets-us.libguides.com/web/jquery/js/jquery-3.7.0.min.js"></script>
    <!-- js_include_fallback_lg.twig -->
    <script src="//code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script>jQuery.ui || document.write('<script src="https://static-assets-us.libguides.com/web/jquery/js/jquery-ui.min.js?2691">\x3C/script>');</script>
    <!-- !js_include_fallback_lg.twig -->
    <script type="text/javascript" src="https://static-assets-us.libguides.com/web/js3.27.3/lg-public-bs5.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" />
    <script src="https://static-assets-us.libguides.com/web/select2/current/js/select2.min.js"></script>
    <script src="https://static-assets-us.libguides.com/web/js3.27.3/springshare.select2.min.js"></script>
    <link rel="stylesheet" href="https://static-assets-us.libguides.com/web/select2/current/css/select2.min.css" />
    <script src="https://static-assets-us.libguides.com/web/js/sa.min.js?3116"></script> {# Probably not needed #}
    <script>
        jQuery('.az-toggle').click(function () {
            var item = jQuery(this);
            if (item.hasClass('collapsed')) {
                item.text('Show More Filters');
            } else {
                item.text('Show Fewer Filters');
            }
        });
    </script>

    <!-- %%% Custom stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://uchicago-brand-fonts.s3.us-east-2.amazonaws.com/UChicagoSansSerif.css">
    <link href="{{ '/styles/main-libapps.css' | url }}" rel="stylesheet">
    <link rel="stylesheet" href="https://guides.lib.uchicago.edu/lookfeel.css">
</head>