<li class="nav-item mb-1 active text-wrap">
    <a title="" class="nav-link active" href="https://guides.lib.uchicago.edu/c.php?g=1241077&amp;p=9082320&amp;preview=0b2610eb042132cc09afc5774d9c61d3&amp;bs5=1">
        <span>Home</span>

    </a>

</li>




<li class="nav-item mb-1 text-wrap">
    <a title="" class="nav-link " href="https://guides.lib.uchicago.edu/c.php?g=1241077&amp;p=9082322&amp;preview=0b2610eb042132cc09afc5774d9c61d3&amp;bs5=1">
        <span>The SIFT Method</span>

    </a>

</li>




<li class="nav-item mb-1 text-wrap">
    <a title="" class="nav-link " href="https://guides.lib.uchicago.edu/c.php?g=1241077&amp;p=9082343&amp;preview=0b2610eb042132cc09afc5774d9c61d3&amp;bs5=1">
        <span>CRAAP Test</span>

    </a>

</li>




<li class="nav-item mb-1 text-wrap">
    <a title="" class="nav-link " href="https://guides.lib.uchicago.edu/c.php?g=1241077&amp;p=9082345&amp;preview=0b2610eb042132cc09afc5774d9c61d3&amp;bs5=1">
        <span>The SMART Check</span>

    </a>

</li>