<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" media="screen" href="https://static-assets-us.libanswers.com/css2.82.5/dist/libchatwidget.css"> -->
<div id="s-lg-az-lc-widget-div">
    <div class="margin-bottom-xlg">
        <div id="libchat_ca4897bb588579f664ecc4543a0d8e56" role="region" aria-label="Chat Widget">
            <div class="lci_chat_load">
                <style>
                    html { --color-background: #F9F9F9; --color-head: #800000; --color-button: #FFFFFF; }
                    body.s-la-widget { margin: 0; background: #fff; height: 350px; }
                    .widget_base { height: 100%; max-width: 50rem; }
                    .chatpane { height: 100%; padding: 5px; overflow-y: auto; }
                    .color_head { color: var(--color-head); }
                    .margin-bottom { margin-bottom: 12px !important; }
                    .form-group { margin-bottom: 5px; }
                    .btn-chat { color: var(--color-button); background-color: var(--color-head); border-color: var(--color-head); }
                    .btn-chat:hover { color: var(--color-head); background-color: var(--color-button); border-color: var(--color-head); }
                    .btn-fullWidth { width: 100%; }
                    .sf-hidden, .hidden { display: none !important; }
                    textarea#client_question { height: 9em; }
                    label { font-weight: bold; }
                    .s-la-widget {
                      background-color: #fff;
                    }

                    .lci_chat_load {
                        border: none!important;
                    }

                    textarea#client_question {
                        height: 9em;
                    }
                  </style>
                    <div class="widget_base container">
                      <div id="libauth"></div>
                      <div id="autoload" class="chatpane hidden sf-hidden"></div>
                      <div id="login" class="chatpane">
                        <h2 id="s-lch-welcome" class="color_head margin-bottom" tabindex="-1">Chat with a Librarian</h2>
                        <form id="s-lch-login-form">
                          <div class="login_field form-group">
                            <label for="client_name" class="form-label">Name (blank=anonymous)</label>
                            <input type="text" class="form-control form-control-sm" name="client_name" id="client_name" value="" maxlength="100" autocomplete="name">
                          </div>
                  
                          <div class="form-group">
                            <label for="s-lch-user1" class="form-label">Affiliation</label>
                            <select class="form-select form-select-sm s-lch-customfield" name="user1" id="s-lch-user1">
                              <option value="0" selected> --- </option>
                              <option value="University of Chicago College Student">University of Chicago College Student</option>
                              <option value=" University of Chicago Graduate Student"> University of Chicago Graduate Student</option>
                              <option value=" University of Chicago Faculty"> University of Chicago Faculty</option>
                              <option value=" University of Chicago Staff"> University of Chicago Staff</option>
                              <option value=" University of Chicago Alumni"> University of Chicago Alumni</option>
                              <option value=" Not affiliated with the University of Chicago"> Not affiliated with the University of Chicago</option>
                            </select>
                          </div>
                  
                          <div class="form-group">
                            <label class="form-label" for="client_question">Your Question*<span class="sr-only">Required</span></label>
                            <textarea id="client_question" class="form-control form-control-sm" name="client_question" maxlength="1000" required></textarea>
                          </div>
                  
                          <div class="form-group">
                            <button type="submit" class="btn-chat btn btn-sm btn-fullWidth">Start Chat</button>
                          </div>
                        </form>
                      </div>
                  
                      <div id="away" class="chatpane hidden sf-hidden"></div>
                      <div id="chat" class="chatpane hidden sf-hidden"></div>
                      <div id="file" class="chatpane hidden sf-hidden"></div>
                      <div id="qform" class="chatpane hidden sf-hidden"></div>
                      <div id="bform" class="chatpane hidden sf-hidden"></div>
                      <div id="offline" class="chatpane hidden sf-hidden"></div>
                    </div>
            </div>
        </div>
    </div>
</div>
