<div id="s-lg-guide-search-box">
    <form role="search" id="s-lg-guide-search-form" action="https://guides.lib.uchicago.edu/srch.php" method="GET">
        <div class="input-group input-group-sm">
            <input type="text" id="s-lg-guide-search-terms" name="q" class="form-control" maxlength="260" placeholder="Search Library Guides">

            <label class="visually-hidden" for="s-lg-guide-search-terms">
                Search Library Guides
            </label>



            <button class="btn btn-outline-secondary border" type="submit">
                Search
            </button>
        </div>
    </form>
</div>