// Global element overrides
// Use this file for customizing HTML elements that can't be controlled via Bootstrap variables


// Preformatted text
pre {
    background-color: $brand-lighter-greystone;
    color: $brand-dark-greystone;
    padding: $spacer * 0.5;
}

// Add breathing room above H2s so they don't crowd preceding content
h2 {
    margin-top: $spacer * 1.5;
}